
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="refresh" content="3;url=/home/index">
    <meta name="viewport" content="width=device-width" />
    <title>文件下载失败</title>
</head>
<body>
    <div> 
        @ViewData["Msg"]
    </div>
    <div>
        3秒后返回主页面
    </div>
</body>
</html>
